.switch__btn {   
    display: inline-block;    
    margin-top: 30px;
    margin-left:15px;
    margin-right: 15px;    
    width: 72px; /* ширина */
    height: 38px; /* высота */
    border-radius: 19px; /* радиус скругления */
    background: linear-gradient(to right,hsl(236, 72%, 79%),hsl(237, 63%, 64%)); /* цвет фона */
    z-index: 0; 
    border: none;
    cursor: pointer;
    position: relative;
    transition-duration: 300ms;
    top: 13px /* анимация */

    
}
.switch__btn::after {
    content: "";
    height: 32px; /* высота кнопки */
    width: 32px; /* ширина кнопки */
    border-radius: 50%;
    background: #fff; /* цвет кнопки */
    top: 3px; /* положение кнопки по вертикали относительно основы */
    left: 3px; /* положение кнопки по горизонтали относительно основы */
    transition-duration: 300ms; /* анимация */
    position: absolute;
    z-index: 1;
}

.switch__btn_on::after {
    left: 37px;
}
